body {
    background-image: url("media/2.jpg");
}

h1 {
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 86px;
}

h2 {
    font-weight: bold;
}

/* kujundus */

.tutv {
    margin-left: 300px;
    position: absolute;
}

img {
    position: absolute;
    margin-top: 222px;
    padding-left: 1013px;
}

.tehtud {
    margin-top: 258px;
    margin-left: 300px;
}

/* tabel */

th {

}

table, td {
    border: 3px solid black;
}

table {
    margin-left: 744px;
    text-align: center;
}

